@media only screen and (min-width: 600px) {
  .App {
    /*text-align: center;*/
    margin-left: 300px;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    /*text-align: center;*/
    margin-left: 200px;
    margin-right: auto;
  }
}

.binCrossMark {
  display: inline;
  float: right;
}

/*navbar style*/
.navbar ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.allNotesClass {
  margin-bottom: 25px;
}
